<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reservation_delete.css">
    <title>hotsix</title>
</head>
<body>
    <header class="header-container">hotsix</header>
    <div class="main-container">
        <div><h1 class="page-title">예약취소</h1></div>
        <div class="delete-line"></div>

            <div class="reservation-list">
                <div class="main-list">
                    <div class="serve-list">
                        <p class="list-name"><b>이름</b></p>
                        <input type="text" class="delete-input">
                    </div>
                    <div class="serve-list">
                        <p class="list-name"><b>예약일</b></p>
                        <input type="date" class="delete-input">
                    </div>
                    <div class="serve-list">
                        <p class="list-name"><b>예약시간</b></p>
                        <input type="time" class="delete-input">
                    </div>
                    <div class="serve-list">
                        <p class="list-name"><b>인원</b></p>
                        <input type="text" class="delete-input">
                    </div>
                    <div class="serve-list">
                        <p class="list-name"><b>취소금액</b></p>
                        <input type="text" class="delete-input">
                        <button type="button" class="delete-button">예약취소</button>
                    </div>
                
            </div>
    </div>
</body>
</html>