* {
    box-sizing: border-box;
    font-size: 14px;
}
  
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
  
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 0px;
    border: 1cm;
    padding: 30px 20px 40px;
  
    width: 100%;
    height: 150px;
  
    color: white;
    background-color: #183a1d;
    font-size: 100px;
  }

.home-button{
    position: fixed;
    left: 96%;
    bottom: 92%;

    padding-right: 50px;

    color: white;
    color: #183a1d;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #E1EEDD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #183a1d8c;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 10px;
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
}

.reserve-list{
    margin: 0px;

    height: 1000px;
}


.main-name {
    font-size: 30px;
}

.menu-line {
    margin: 30px 0px;

    width: 401px;
    height: 3px;

    background-color: #dddddd;
}

.menu-name {
    margin: 0px 0px 20px;
    font-size: 25px;
}

.main-box {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.reserve-contents1 {
    flex-wrap: wrap;
}

.reserve-contents1 th {
    border: 1px solid #bcbcbc;

    background-color: #DFD3C3;
    font-size: 18px;

    width: 100px;
    height: 45px;
}

.reserve-contents1 td {
    border: 1px solid #bcbcbc;

    text-align: center;
    font-size: 18px;

    width: 300px;
    height: 45px;
}

.serve-container {
    display: flex;
    flex-direction: column;
}
.reserve-contents2 {
    width: 300px;
}

.reserve-contents2 th {
    border: 1px solid #bcbcbc;

    background-color: #DFD3C3   ;
    font-size: 18px;

    width: 100px;
    height: 45px;
}

.reserve-contents2 td {
    border: 1px solid #bcbcbc;

    text-align: center;
    font-size: 18px;

    height: 45px;
}

.reserve-contents3 {
    display: flex;
}

.reserve-contents3 th {
    border: 1px solid #bcbcbc;

    background-color: #DFD3C3;
    font-size: 18px;

    width: 100px;
    height: 45px;
}

.reserve-contents3 td {
    border: 1px solid #bcbcbc;

    text-align: center;
    font-size: 18px;

    width: 200px;
    height: 45px;
}


.request-input {
    width: 404px;
    height: 30px;
}

.group-button {
    display: flex;
    justify-content: flex-start;

}

button {
    border: 1px solid #E1EEDD;
    border-radius: 4px;
    background-color: #E1EEDD;

    font-weight: bolder;
    font-size: 20px;

    width: 100px;
    height: 40px;
}

.change-button {
    margin-right: 20px;
}
