<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/delete.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>hotsix</title>
</head>
<body>
    <header class="header-container">hotsix</header>
    <h1 class="home-button"main-container">
        <div class="second-container">
            <div><h1 class="page-title">예약 취소</h1></div>
            <div class="third-container">
                <div class="reservation-list">
                    <div class="delete-line"></div>
                    <div class="main-list">
                        <div class="serve-list">
                            <table class="unit-list">
                                <tr>                       
                                    <th>이름</th> 
                                    <td>홍길동</td>
                                </tr>
                            </table>
                        </div>

                        <div class="serve-list">
                            <table class="unit-list">
                                <tr>                       
                                    <th>예약일</th> 
                                    <td>2023.03.15</td>
                                </tr>
                            </table>
                        </div>

                        <div class="serve-list">
                            <table class="unit-list">
                                <tr>                       
                                    <th>인원</th> 
                                    <td>4명</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="serve-list">
                            <table class="unit-list">
                                <tr>                       
                                    <th>취소금액</th> 
                                    <td>50,000원</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="delete-line"></div>
                    <div class="delete-button">
                        <button type="button">확인</button>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>