<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>hotsix</title>
</head>
<body>
    <header class="header-container">hotsix</header>
    <h1 class="home-button"><i class="fa-solid fa-house fa-3x"></i></h1>
    <div class="main-container">
        <div><h1 class="page-title">예약 확인</h1></div>
        <div class="title-line"></div>
        <p class="message">hotsix에 오신 것을 환영합니다.</p>
        <div class="title-line"></div>

        <div class="select">
            <div class="reservation-search1">
                <table class="reservation-change1">
                    <tr>
                        <th>예약 확인(TEL)</th>
                    </tr>
                </table>
            </div>
            <div class="reservation-search2">
                <table class="reservation-change2">
                    <tr> 
                        <th>예약 확인(이름)</th>
                    </tr>  
                </table>
            </div>
        </div>

        <div class="serve-container-group">
            <div class="serve-container1">
                <div class="third-container1">
                    <div class="p-group">
                        <p class="reservation-number">예약번호</p>
                        <p class="change-name1">전화번호</p>
                    </div>
                    <div class="input-group">
                        <input type="text" class="input-one">
                        <input type="text">
                    </div>
                </div>
                <div class="main-button">
                    <button class="reservation-button">예약확인</button>
                </div>

                <div class="search-group">
                    <p class="search-number">예약번호 찾기</p>
                </div>
               
                <div class="serve-container2">
                    <div class="third-container2">
                        <div class="p-group">
                            <p class="change-name2">이름</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="/static/js/test.js"></script>
</html>